<section class="add-form" >
  <mat-form-field class="dash-title">
    <input #newTitle matInput placeholder="New dashboard name">
  </mat-form-field>
  <div class="buttons">
    <button mat-button [mat-dialog-close]="false">Cancel</button>
    <button mat-raised-button [mat-dialog-close]="newTitle.value" color="primary">Confirm</button>
  </div>
</section>
