.dashboard-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.diagram-container {
  display: grid;
  // min-height: calc(100vh - 100px);
  grid-template-columns: repeat(4, minmax(200px, 33vw));
  grid-template-rows: repeat(4, minmax(300px, 30vh));
  grid-gap: 16px;
}

.add-element-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.empty-dashboard-warning {
  padding: 20px;
}

.chart {
  border: 1px solid lightgray;
}