
<ng-container *ngIf="currentDashboard$ | async as dashboard; else noDashboardNotice">
  <h2 class="dashboard-title"> {{ dashboard.title }}
  </h2>
  <button mat-fab (click)="addElement(dashboard.id)" color="primary" class="add-element-btn">
  <mat-icon>add</mat-icon>
</button>
<div *ngIf="dashboard.elements?.length === 0" class="empty-dashboard-warning">
  Your dashboard is empty!
  Click blue button in the right bottom corner in order to add element.
</div>
<section class="diagram-container">
  <ng-container *ngFor="let element of dashboard.elements">
    <highcharts-chart [Highcharts]="Highcharts" [options]="element.options" style="display: block;"
    [style.grid-row]="element.row" [style.grid-column]="element.column" class="chart"></highcharts-chart>
  </ng-container>
</section>
  </ng-container>
  <ng-template #noDashboardNotice>
    <div class="empty-dashboard-warning"> Dashboard not found. You can create a new one or choose another from the existing list. </div>
  </ng-template>