<nav class="nav-bar">
    <button mat-button [matMenuTriggerFor]="menu">dashboards list</button>
    <mat-menu #menu="matMenu">
      <button *ngFor="let dashboard of dashboardList$ | async" routerLink="/diagrams/{{ dashboard.id }}" mat-menu-item> {{ dashboard.title }} </button>
    </mat-menu>
    <button mat-button (click)="openAddDashboardDialog()" > add dashboard </button>
</nav>

<router-outlet></router-outlet>
