
<section [formGroup]="dashForm" class="add-form" >
  <div class="chart-position">
    <mat-form-field class="dash-title">
      <input formControlName="row" type="number" min=1 max=4 #newTitle matInput placeholder="Row (1 - 4)" />
    </mat-form-field>
    <mat-form-field class="dash-title">
      <input formControlName="column" type="number" min=1 max=4 #newTitle matInput placeholder="Column (1 - 4)" />
    </mat-form-field>
  </div>
      <mat-form-field class="dash-title">
        <mat-label>Chart configuration object</mat-label>
        <textarea
          formControlName="options"
          matInput
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="3"
          cdkAutosizeMaxRows="10"
        ></textarea>
      </mat-form-field>
    <div class="buttons">
      <button mat-button (click)="pasteExeplarValue()">paste exemplar form values</button>
      <button mat-button [mat-dialog-close]="false">Cancel</button>
      <button mat-raised-button (click)="parseClose()" color="primary">Confirm</button>
    </div>
  </section>

  <!-- <form [formGroup]="checkoutForm">

    <button class="button" type="submit">Purchase</button>

  </form> -->
